.header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  background-color: white;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chats-body {
  padding: 10px 0px;
  padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  min-height: 100vh;
}

.chat__write--container {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}
.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.message .message__content {
  width: 100%;
}

.incoming-message {
  align-self: flex-start;
}

.sent-massage {
  align-self: flex-end;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  animation: spin 1s linear infinite;
}

.message .message__bubble {
  background-color: white;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
}

.incoming-message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #2bc0e4, #eaecc6);
}

.sent-massage .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #00c6ff, #0072ff);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-massage {
  animation: sentAnimation 0.2s ease-out forwards;
}

.chat__new-container {
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat__new-btn:hover ~ .chat__new-container {
  transform: translateY(100%);
}

.chat__new-container .chat__new-menu {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chat__new-menu .new-menu__header-box {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 600;
}

.chat__new-menu .new-menu__header-box i {
  margin: 0 20px;
}

.chat__new-menu .new-menu__btn-box {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.new-menu__btn-box .btn-box__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn-box__column span {
  padding-top: 20px;
  font-size: 13px;
  font-weight: 400;
}

.chat__new-container .chat__new-keyword {
  width: 100%;
  height: calc(100% - 200px);
  background-color: black;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.chat__new-keyword .keyword-header {
  width: 50%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat__new-keyword .keyword-header img {
  border-radius: 12px;
  border: 2px solid #ffffff;
  width: 60px;
  height: 50px;
}

.keyword-header .header-box {
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.keyword-header .header-box span:first-child {
  font-size: 16px;
  font-weight: 400;
  color: #353434;
}

.keyword-header .header-box span:last-child {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.chat__new-keyword .keyword-box {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.keyword-box span:nth-child(2n + 1) {
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #fce006;
  border-radius: 12px;
  background-color: #fce006;
  padding: 10px 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyword-box span:nth-child(2n) {
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #ffffff;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__more-container {
  position: fixed;
  top: 0;
  left: 100%;
  width: 70%;
  height: 100%;
  background: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: transform 0.7s ease-in-out;
}

.chat__more-container section {
  padding: 15px 15px;
  border-bottom: 1px solid #ebebeb;
}

.chat__more-container .drawer,
.chat__more-container .talk-board,
.chat__more-container .talk-friends {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.chat__more-container h1 {
  font-size: 20px;
}

.drawer .drawer__list {
  width: 100%;
  height: 40px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.drawer .chat__more-column {
  font-size: 18px;
}

.drawer .drawer__image-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.drawer .drawer__image {
  width: 100px;
  padding-bottom: 2px;
}

.talk-calendar,
.music,
.talk-friends {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.talk-board .talk-board-header {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.talk-board .talk-board-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.talk-board-icons .notice,
.talk-board-icons .vote {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  margin-right: 10px;
}

.talk-board-icons .notice i,
.talk-board-icons .vote i {
  margin-right: 5px;
}

.talk-friends h1 {
  margin-bottom: 30px;
}

.talk-friends__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.talk-friends__list .talk-friend {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #4881b8;
  font-size: 20px;
}

.talk-friend .plus-circle {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #4881b8;
  background: rgba(228, 228, 238, 0.95);
  color: #4881b8;
  font-size: 35px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.talk-friend img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #4881b8;
}

.a__chat-more:hover ~ .chat__more-container {
  transform: translateX(-100%);
}

/*.a__chat-more:hover ~ .a__chat-more__close {*/
/*  transform: translateX(-100%);*/
/*}*/

/*.a__chat-more__close {*/
/*  position: fixed;*/
/*  top: 15px;*/
/*  left: 100%;*/
/*  padding-right: 30px;*/
/*  transition: transform 0.7s ease-in-out;*/
/*  z-index: 200;*/
/*}*/

/*.a__chat-more__close:hover ~ .chat__more-container {*/
/*  transform: translateX(100%);*/
/*}*/
