.friends .friends__header {
  padding-bottom: 20px;
}

.friends .friends__plus {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 1px solid #aadaf1;
  border-bottom: 1px solid #aadaf1;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.friends .friends__list {
  margin-bottom: 50px;
}

.friends__index-box {
  position: fixed;
  top: 100px;
  left: calc(100% - 30px);
  width: 24px;
  height: 100%;
}

@keyframes indexAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 0.5;
    transform: none;
  }
}

.friends__index-box .friends__index {
  width: 100%;
  height: calc(100% - 200px);
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  animation: 0.5s indexAnimation ease-in-out forwards;
  animation-delay: 1s;
}

.friends__index-box .friends__index span:hover {
  color: blue;
}

.friends__friend .friend__avatar:hover {
  cursor: pointer;
  opacity: 0.5;
}