@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.contents {
  position: relative;
  width: 100%;
  height: 800px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-position: right top;
  background: linear-gradient(
      to bottom,
      rgba(242, 243, 246, 0) 10%,
      rgba(242, 243, 246, 0.3) 15%,
      rgba(242, 243, 246, 0.5) 25%,
      rgba(242, 243, 246, 0.8) 40%,
      rgba(242, 243, 246, 1) 50%,
      rgba(242, 243, 246, 1) 70%,
      white 100%
    ),
    url("http://news.xinhuanet.com/world/2017-04/20/129557030_14926933648921n.jpg");
}

.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.status-bar i {
  font-size: 14px;
}
.status-bar .status-bar__battery-level {
  margin-left: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 700;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}

.place {
  padding-top: 100px;
}

.thumbnail__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.thumbnail__list .thumbnail {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
}

.thumbnail__list .thumbnail__plus {
  background-color: #3f67ff;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail__list .thumbnail__plus-text {
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.tag__list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tag__list .tag {
  height: 30px;
  margin-right: 10px;
  padding: 5px 15px 5px 15px;
  background-color: #dde3f9;
  color: #285aff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px 30px 30px 0px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place__name {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.place__name h1 {
  font-size: 30px;
  font-weight: 700;
}

.place__name .place__heart {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
}

.place__name .place__heart i {
  font-size: 17px;
  color: red;
}

.place__location {
  margin: 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.place__location .fa-map-marker-alt {
  margin-right: 10px;
  font-size: 15px;
  color: #285aff;
}

.place__location span {
  font-size: 15px;
  font-weight: 500;
  color: #a1aec6;
}

.place__rating {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.place__rating .place__stars,
.place__rating .place__meter {
  font-size: 15px;
}

.place__rating .place__stars i {
  color: #ffbc00;
}

.place__rating .place__score {
  margin-left: 5px;
  font-weight: bold;
}

.place__rating .place__meter {
  color: lightgray;
}

.place__summary {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.place__summary .place__summary-overview {
  font-size: 12px;
  color: gray;
}

.place__summary .place__summary-contents {
  margin-top: 5px;
  font-size: 15px;
  color: gray;
  line-height: 170%;
}

.place__summary .place__summary-readmore {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #285aff;
}

.nav {
  position: absolute;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
  border-radius: 0px 0px 20px 20px;
  z-index: 2;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .place__nav-item {
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.place__nav-item {
  position: absolute;
  left: 50%;
  margin-left: -42px;
}
.place__nav-item .place__outer-circle {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7ecf2;
  border-radius: 100%;
  background: linear-gradient(
    to bottom,
    #e9ecf2 10%,
    #e9ecf2 40%,
    white 70%,
    white 80%,
    white 90%,
    white 100%
  );
}
.place__nav-item .place__inner-circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f67ff;
  border-radius: 100%;
  border: 2px solid white;
}
.place__nav-item .place__inner-circle i {
  font-size: 20px;
  color: white;
}
